//
// MAIN.css
// ------------------------------------

// FONTS
@font-face {
  font-family: 'newbaskervillecregular';
  src: url('../fonts/newbaskervillec-webfont.eot');
  src: url('../fonts/newbaskervillec-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/newbaskervillec-webfont.woff2') format('woff2'),
  url('../fonts/newbaskervillec-webfont.woff') format('woff'),
  url('../fonts/newbaskervillec-webfont.svg#newbaskervillecregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'newbaskervillecbold';
  src: url('../fonts/newbaskervillec-bold-webfont.eot');
  src: url('../fonts/newbaskervillec-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/newbaskervillec-bold-webfont.woff2') format('woff2'),
  url('../fonts/newbaskervillec-bold-webfont.woff') format('woff'),
  url('../fonts/newbaskervillec-bold-webfont.svg#newbaskervillecbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'john_sans_text_proregular';
  src: url('../fonts/johnsanstext-webfont.eot');
  src: url('../fonts/johnsanstext-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/johnsanstext-webfont.woff2') format('woff2'),
  url('../fonts/johnsanstext-webfont.woff') format('woff'),
  url('../fonts/johnsanstext-webfont.svg#john_sans_text_proregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'john_sans_text_probold';
  src: url('../fonts/johnsanstextbold-webfont.eot');
  src: url('../fonts/johnsanstextbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/johnsanstextbold-webfont.woff2') format('woff2'),
  url('../fonts/johnsanstextbold-webfont.woff') format('woff'),
  url('../fonts/johnsanstextbold-webfont.svg#john_sans_text_probold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'john_sans_lite_proregular';
  src: url('../fonts/johnsanslite-webfont.eot');
  src: url('../fonts/johnsanslite-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/johnsanslite-webfont.woff2') format('woff2'),
  url('../fonts/johnsanslite-webfont.woff') format('woff'),
  url('../fonts/johnsanslite-webfont.svg#john_sans_lite_proregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'john_sans_text_proitalic';
  src: url('../fonts/johnsanstextitalic-webfont.eot');
  src: url('../fonts/johnsanstextitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/johnsanstextitalic-webfont.woff2') format('woff2'),
  url('../fonts/johnsanstextitalic-webfont.woff') format('woff'),
  url('../fonts/johnsanstextitalic-webfont.svg#john_sans_text_proitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'baskerville_10_proregular';
  src: url('../fonts/baskerville10pro-webfont.eot');
  src: url('../fonts/baskerville10pro-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/baskerville10pro-webfont.woff2') format('woff2'),
  url('../fonts/baskerville10pro-webfont.woff') format('woff'),
  url('../fonts/baskerville10pro-webfont.svg#baskerville_10_proregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'newbaskervillecbold_italic';
  src: url('../fonts/newbaskervillec-bolditalic-webfont.eot');
  src: url('../fonts/newbaskervillec-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/newbaskervillec-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/newbaskervillec-bolditalic-webfont.woff') format('woff'),
  url('../fonts/newbaskervillec-bolditalic-webfont.svg#newbaskervillecbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'newbaskervilleexpodcitalic';
  src: url('../fonts/newbaskervilleexpodc-italic-webfont.eot');
  src: url('../fonts/newbaskervilleexpodc-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/newbaskervilleexpodc-italic-webfont.woff2') format('woff2'),
  url('../fonts/newbaskervilleexpodc-italic-webfont.woff') format('woff'),
  url('../fonts/newbaskervilleexpodc-italic-webfont.svg#newbaskervilleexpodcitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'newbaskervilleexpodcBdIt';
  src: url('../fonts/newbaskervilleexpodc-bdit-webfont.eot');
  src: url('../fonts/newbaskervilleexpodc-bdit-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/newbaskervilleexpodc-bdit-webfont.woff2') format('woff2'),
  url('../fonts/newbaskervilleexpodc-bdit-webfont.woff') format('woff'),
  url('../fonts/newbaskervilleexpodc-bdit-webfont.svg#newbaskervilleexpodcBdIt') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'als_rublregular';
  src: url('../fonts/rouble-webfont.eot');
  src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/rouble-webfont.woff2') format('woff2'),
  url('../fonts/rouble-webfont.woff') format('woff'),
  url('../fonts/rouble-webfont.svg#als_rublregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

// FONTS

// bootstrap
@import "modules/bootstrap/bootstrap.less";
// bootstrap

// main styles
@import "partials/_header";
@import "partials/_main";
@import "partials/_aside";
@import "partials/_footer";
// main styles

@import "vendors/_animations";
@import "vendors/_plugins";

// adaptive styles
@import "partials/_media";
// adaptive styles
