//
// Partials -> Footer
// ------------------------------------



footer {
  background-color: white;
  padding: 38px 60px;
}

.footer-copy {
  padding: 8px 10px;
  text-align: right;

  z-index: 1;
  position: relative;

  img {vertical-align: text-bottom;margin-left: 12px;max-width: 70px}
  a {color: #1c1918;font-size: 12px;}
  @media screen and (min-width: @grid-float-breakpoint) {
    padding: 38px 60px;
    img {max-width: inherit}
  }
}