//
// Partials -> Header
// ------------------------------------

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

header {
  //width: 510px;
  //float: left;
  //min-height: 100vh;
}
.navbar-form {
  height: 29px;
}
.logo {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 14%;
  .desc {display: none;}
  .mobile { display: block;margin-top: 35px;}
}

.header-mobile {
  height: 50px;
  background-color: #2a2c32;
  &__item {
    display: inline-block;
    vertical-align: middle;
    .btn {
      margin-top: 3px;
      border: 1px solid @brand-primary;
      border-radius: 0;
      height: 44px;
      color: @brand-primary;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 32px;
      &.btn-long {
        padding: 6px 27px;
      }
      &:hover {background-color: bfb99a}
    }
    span {
      display: block;
      color: @brand-primary;
      font-size: 10px;
      line-height: 12px;
      font-family: 'john_sans_text_proregular';
    }
    .mobile {
      margin-left: 20px;}
  }
}

.navbar-form .btn {
  right: 20px;
}
.sidebar-nav {
  //width: 255px;
  float: left;
  //padding-bottom:32767px;
  //margin-bottom:-32767px;
  z-index: 10;
  //bottom: 0;
  height: 100%;
}
.main-nav {
  padding: 24px 0;
  font-family: 'john_sans_text_probold';
  font-size: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid #43444a;
  border-top: 1px solid #43444a;
}
.sec-nav {
  border-top: 1px solid #43444a;
  font-size: 16px;
  padding: 33px 0;
  img {float: left;margin-left: 6px;}
  span {
    display: block;
    padding-left: 44px;
    text-indent: -9999px;
  }
}


.info-nav {
  margin-top: 24px;
  //position: absolute;
  //bottom: -14%;
  opacity: 0;
  &__sitemap {
    color: @brand-primary;
    &:hover {
      color: @brand-primary;
    }
  }
  &__phone {
    color: @brand-primary;
    &:hover {
      color: @brand-primary;
    }
  }
  &__modal {
    color: white;
    font-size: 13px;
    border-bottom: 1px solid @brand-primary;
    &:hover {
      color: white;
      border-color: transparent;
      text-decoration: none;
    }
  }
}

.sidebar-navbar-collapse {
  display: none;
}
.sidebar-nav__main {
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 122;

  background-color: #2a2c32;
  border-color: @navbar-inverse-border;
  box-shadow: 10px 0 35px rgba(0, 0, 0, 0.1);

  .navbar {
    padding: 0;
    //background-color: @navbar-inverse-bg;
    //background-color: #2a2c32;
    li {
      padding: 16px 15px;
    }
  }
  .main-nav {
    opacity: 0;
  }

  &.active {
    width: 212px;
    .navbar {
      padding: 25px;
    }
    .logo  {
      .desc {display: block;}
      .mobile { display: none;}
    }
    .main-nav {
      opacity: 1;
    }
    .sec-nav {
      span {
        text-indent: 0;
      }
      img {margin-left:0;}
    }
    .info-nav {
      opacity: 1;
    }

    .navbar-form .btn {
      right: 0;
    }
  }
}
.sidebar-nav__sub {
  width: 211px;
  margin-left: 60px;
  background-color: #272525;

  position: absolute;
  top: 0;
  left: 0;
  .contacts & {
    //background: url("../images/back-cont.jpg") top left no-repeat, @navbar-inverse-bg;
    //background-color: @navbar-inverse-bg;
    //background: url("../images/back-cont.jpg") top left no-repeat, @navbar-inverse-bg;
    //background: url("../images/back-cont.jpg") top left no-repeat, radial-gradient(circle 863px at center, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0.59) 100%);
  }
  .navbar-nav > li {
    > a {
      font-weight: 700;
      color: white;
      &:hover {color: @brand-primary}
    }
    &.active {
      a {color: @brand-primary}
    }
  }
}

.hidemenu {display: none !important;}


@media screen and (min-width: @grid-float-breakpoint) {
  .hidemenu {
    display: block;
  }
  .navbar {
    padding: 30px;
  }
  header {
    position: fixed;
    z-index: 2;
    //padding-bottom:32767px;
    //margin-bottom:-32767px;
    height: 100%;
    bottom: 0;
    top: 0;
    //background: url("../images/back-cont.jpg") top right no-repeat, #2A2C32;
    &.once-header {background: #2a2c32; }
  }
  .sidebar-nav__sub {
    position: relative;
    width: 255px;
    background: url("../images/back-cont.jpg") top left no-repeat, #272525;
  }
  .sidebar-navbar-collapse {
    display: block;
  }
  .sidebar-nav {
    display: block !important;
    &.hidden-lg {
      display: none !important;
    }
  }
  .sidebar-nav__main {
    //background-color: @navbar-inverse-bg;
    &.active {
      width: 255px;
      .navbar {
        padding: 30px;
      }
    }
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav ul {
    float: none;
  }
  .sidebar-nav li {
    float: none;
    display: block;
  }
  .sidebar-nav li a {
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .logo  {
    .desc {display: block;}
    .mobile { display: none;}
  }
  .sidebar-nav__sub {
    margin-left: 0;
    padding-top: 11px;
   .nav > li {padding: 10px 0 10px 15px;}
  }
  .sidebar-nav__main {
    position: relative;
    width: 255px;
    .navbar {
      padding: 20px 30px;
      li {
        padding: 10px 0;
        letter-spacing: 2px;
      }
    }
    .main-nav {
      opacity: 1;
    }
    .sec-nav {
      border-top: none;
      letter-spacing: 2px;
      span {
        text-indent: 0;
      }
      img {margin-left:0;}
    }
    .info-nav {
      opacity: 1;
    }
  }
  .navbar-form .btn {
    right: 0;
  }
}

