//
// Partials -> Main
// ------------------------------------

html, root, body {
  height: 100%;
  //min-height: 100%;
}
/**
 * Delete focus border
*/
a:active, a:focus {outline: none;}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
button, button:active, button:focus {outline: none !important;}
:focus {outline:none;}
button::-moz-focus-inner {border: 0;}
/**
 * Delete focus border
*/

// main
.overflow {
  //overflow: hidden;
  position: relative;
  //min-height: 947px;
  //min-height: 100vh;
}
.content {
  min-height: 849px;
}


i {
  font-family: 'newbaskervilleexpodcitalic';
}

main {
  //margin-left: 315px;
  background-color: #fafafa;

  position: relative;
  @media screen and (min-width: @grid-float-breakpoint) {
    margin-left: 315px;
    //padding-bottom:32767px;
    //margin-bottom:-32767px;
    .half-main & {
      margin-left: 58px;
    }
  }
  @media screen and (min-width: 1440px) {
    margin-left: 510px;
    .half-main & {
      margin-left: 255px;
    }
  }
  .index & {
    margin-left: 0;
    padding-bottom:0;
    margin-bottom:0;
  }
}
// main


//mixins
.mixin-letter {
  h5 {
    line-height: 24px;
    @media screen and (min-width: @grid-float-breakpoint) {
      line-height: 34px;
    }
    @media screen and (min-width: 1440px) {
      line-height: 40px;
    }
    &:first-letter {
      color: @brand-primary;
      font-size: 58px;
      @media screen and (min-width: 1440px) {
        font-size: 86px;
      }
    }
  }
}
.topic {
  padding: 20px 48px;
  background-color: white;
  .box-shadow(0 0 26px rgba(0, 0, 0, 0.06));
}
.title-sec {
  color: dimgrey;
  font-family: 'baskerville_10_proregular';
  font-size: 28px;
}
//mixins


// list
.decor {
  &-list {
    padding: 0;
    counter-reset: list;
    position: relative;
    > li {
      position: relative;
      list-style-type: none;
      margin-bottom: 20px;
      line-height: 1.5;
      &::before {
        content: counter(list, upper-roman);
        counter-increment: list;
        z-index: 2;
        height: 83px;
        width: 83px;
        background-color: #fafafa;
        border: 1px solid @brand-primary;
        padding: 13px 2px;
        display: block;
        font-size: 40px;
        text-align: center;
        color: @brand-primary;
        font-family: 'newbaskervillecregular';
        margin: auto;
      }
      i {
        font-family: 'john_sans_text_proitalic';
        color: #686d74;
        span {
          font-size: 24px;
          color: #1c1918;
        }
      }
    }
  }
  &-romb {
    padding: 0;
    > li {
      list-style-type: none;
      margin-top: 35px;
      &::before {
        content: '◊ ';
        color: @brand-primary;
      }
    }
  }
  .index & {
    margin-left: 0;
    padding-bottom:0;
    margin-bottom:0;
  }
}
.list-num {
  padding: 0;
  counter-reset: list;
  position: relative;
  li {
    list-style-type: none;
    position: relative;
    padding-left: 36px;
    &::before {
      content: counter(list, upper-roman);
      counter-increment: list;
      z-index: 1;
      padding: 13px 0;
      display: block;
      position: absolute;
      left:0;
      text-align: center;
      color: #1c1918;
      font-size: 18px;
      font-family: 'newbaskervillecregular';
      margin: auto;
      width: 25px;
    }
    &.list-num--none {
      &::before {
        content: '';
      }
      span { vertical-align: middle; }
    }
  }
}
// list



.mini-nav {
  top: 0;
  right: 0;
  width: 89px;
  text-align: center;
  position: absolute;
  text-decoration: none;
  z-index: 111;
  height: 180px;
  &__item {
    height: 90px;
    padding: 12px 0;
    display: block;
    &.first {
      background-color: #2a2c32;
      color: @brand-primary;
      font-family: 'john_sans_text_probold';
      text-transform: uppercase;
      font-size: 9px;
      line-height: 1.4;
      img {margin-bottom: 9px;}
    }
    &.second {
      background-color: white;
    }
  }
}


.margtop10 { margin-top: 10px;}
.margtop40 { margin-top: 40px;}
.margtop50 { margin-top: 50px;}
.margbot20 { margin-bottom: 20px;}
.title {
  border-bottom: 1px solid #e8e6dd;
  h1 {margin-top: 0;}
}
//.arr-prev {
//  width: 0;
//  height: 0;
//  border-style: solid;
//  border-width: 3.5px 6px 3.5px 0;
//  border-color: transparent @brand-primary transparent transparent;
//}

.container {position: relative;}

//index
.onepagescroll {
  height: 100%;
  background-color: rgba(42, 44, 50, 0.7);
}
.index {
  font-size: 0;
  background: url("../images/index-back1.jpg") no-repeat top center;
  .sidebar-nav {overflow: auto}
  .decor-list {
    position: relative;
    top: 30%;
    text-align: center;
    &::after {
      display: none;
    }
    li {
      padding-top: 1px;
      &::before {
        padding: 4px 2px;
        height: 44px;
        width: 44px;
        font-size: 27px;
        background-color: transparent;
      }
    }
  }
  h1 {color: @brand-primary;font-size: 25px; margin-top: 20px;}
  h2 { color: @brand-primary;font-size: 30px; margin-top: 0; }
  h4 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 1.6;
    max-width: 195px;
    color: rgba(255,255,255,0.5);
    font-family: 'newbaskervilleexpodcitalic';
  }
  h5  {
    font-weight: 400;
    font-family: 'john_sans_text_proregular';
    a {
      color: #c4bd9e;
      border-bottom: 1px solid #b8b8a0;
      &:hover {
        text-decoration: none;
        border-color: transparent;
      }
    }
  }
  &-logo {
    padding: 30px 35px;
    &::before {
      content: '';
      width: 1px;
      height: 100%;
      background-color: #4a4b51;
    }
  }
  &-menu {
    color: #c0c0c2;
    padding-top: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'john_sans_text_probold';
    .navbar-nav > li {
      float: none;
      padding: 5px 15px;
      > a {
        padding: 0;
      }
    }
  }
  &-form {
    .btn {top: 39px;}
  }
  .navbar {
    padding: 20px 0;
  }
  .header-mobile {
    background-color: rgba(42, 44, 50, 0.7);
  }
  &-menui {
    a {
      color: #e0e0dd;
      &:hover {
        text-decoration: underline !important;
      }
    }
    .sec-nav {
      li {
        padding: 0 5px;
      }
      .text-lg;
      border-top: none;
      padding: 4px 0;
      span {
        padding-left: 28px;
        text-indent: 0;
      }
    }
  }
  &-half {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;

    z-index: 10;
    position: relative;
    &--first {
      //background-color: #2a2c32;
      //background-color: rgba(42, 44, 50, 0.7);
    }
    &--last {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background: url("../images/index-back.jpg") no-repeat top right;
    }
  }
  &-last {
    &__item {
      width: 507px;
      color: #fff;
      font-size: 13px;
      left: 20%;
      top: 122px;
      position: absolute;
      h6 {
        color: #fff;
        font-family: 'john_sans_text_proregular';
      }
    }
  }
  &-full {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;
    height: 100%;
    background-color: #2a2c32;
    &__empty {
      background-color: transparent;
    }
    h2 {
      font-size: 30px;
      position: absolute;
      left: 11%;
      //z-index: 9;
      //background: #2A2C32;
    }
    &--img {
      //background-color: #2a2c32;
      background: url("../images/index-back1.jpg") no-repeat top center;
    }
    &__inner {
      position: relative;
      //left: 10%;
      height: 100%;
      top: 32%;
      font-size: 12px;
    }
    &__item {
      padding: 10px 20px 10px 44px;
      background-color: #31343b;
      box-shadow: 0 0 27px rgba(0, 0, 0, 0.07);
      color: #cfd0d0;
      position: absolute;
      & + & { margin-top: 19px;}
      h6 { font-size: 12px;}
      &::before {
        content: '';
        color: @brand-primary;
        font-family: 'newbaskervillecregular';
        font-size: 22px;
        position: absolute;
        left: 14px;
      }
      &-1, &-5 {
        max-width: 389px;
        left: 50%;
        top: 9px;
        &::before {
          content: 'I ';
        }
      }
      &-5 {
        &::before {
          content: 'V ';
        }
      }
      &-2, &-6 {
        max-width: 466px;
        left: 34%;
        top: 127px;
        &::before {
          content: 'II ';
        }
      }
      &-6 {
        &::before {
          content: 'VI ';
        }
      }
      &-3 {
        max-width: 396px;
        left: 19%;
        top: 242px;
        &::before {
          content: 'III ';
        }
      }
      &-4 {
        max-width: 586px;
        left: 50%;
        top: 282px;
        &::before {
          content: 'IV ';
        }
      }
    }
  }
  &-firstscreen {
    //background: url("../images/index-back.jpg") no-repeat top right;
    background-color: transparent;
  }
  //#revealAnim {background-color: #2a2c32;}
  &-center {
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 99;
      height: 60%;
    }
  }
  &-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-size: 10px;
  }
  &-footer {
    position: absolute;
    bottom: 40px;
    width: 100%;
    z-index: 121;
    font-size: 14px;
    padding: 10px 60px;
    .footer-copy {
      padding: 8px 10px;
      a {color: #b0acab}
    }
    .list-inline {
      vertical-align: top;
    }
  }
  .mini-nav {
    right: 40px;
    margin: -90px auto 0;
    top: 50%;
    //bottom: 0;
    &__item.first {
      background-color: transparent;
      border: 1px solid @brand-primary;
    }
  }
}
.scroll-section {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50px;
  height: 300px;
  margin:auto;
}
.scroll-section-img {
  background: url("../images/index-back1.jpg") no-repeat top center;
}
.scroll-section-back {
  //background-color: #2a2c32;
  //background: url("../images/index-back1.jpg") no-repeat top center;
}
.g-lines {
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 11;
  background-color: rgba(255, 255, 255, 0.15);
  &-1 {
    left: 60px;
  }
  &-2 {
    left: 18.8%;
  }
  &-3 {
    left: 26.5%;
  }
  &-4 {
    right: 26%;
  }
  &-5 {
    right: 35.3%;
  }
}
.timeline {
  font-size: 12px;
  color: #c4bd9e;
  position: absolute;
  bottom: 45%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  ul {
    display: table;
    width: 90%;
    margin: auto;
    position: relative;
    padding: 0 0 0 7.5%;
    text-align: center;
    .active-dot {
      //content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      width: 25%;
      height: 5px;
      display: inline-block;
      background: url("../images/dot.png") bottom left repeat;
      .transition(width 0.5s linear);
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      width: 100%;
      height: 5px;
      display: inline-block;
      background: url("../images/disc.png") bottom left repeat;
    }
  }
  li {
    display: table-cell;
    text-align: left;
    padding: 0;
    vertical-align: bottom;
    width: 17%;
    //span {
    //  display: inline-block;
    //}

    &:not(.active-dot):not(.active-flag)::after {
      content: '';
      width: 20px;
      height: 51px;
      display: block;
      z-index: 1;
      position: relative;
      //background-image: url("../images/timeline.png");
      //background-repeat: no-repeat;
      //background-position: bottom left;
      //background-size: 14px auto;
    }

    //&.active::after {
    //  background-image: url("../images/timeline-active.png");
    //}
    &.active  + li + li + li + li + li + .active-dot {
      width: 9%;
    }
    &.active  + li + li + li + li + .active-dot {
      width: 24%;
    }
    &.active  + li + li + li + .active-dot {
      width: 39%;
    }
    &.active  +  li + li + .active-dot {
      width: 55%;
    }
    &.active  + li + .active-dot {
      width: 71%;
    }
    &.active + .active-dot {
      width: 100%;
      //width: 83%;
    }
    &.active-flag, &.flag {
      width: 100%;
      display: block;
      z-index: 1;
      position: absolute;
      //background-image: url("../images/timeline-active.png");
      //background-repeat: no-repeat;
      //background-position: bottom left;
      //background-size: 14px auto;
      left: 0;
      bottom: 0;
      img {
        width: 14px;
        position: relative;
        opacity: 0;
        .transition(opacity 0.5s linear);
      }
      .time-1 {
        left: 8.1%;
      }
      .time-2 {
        left: 22.7%;
      }
      .time-3 {
        left: 37.3%;
      }
      .time-4 {
        left: 51.9%;
      }
      .time-5 {
        left: 66.5%;
      }
      .time-6 {
        left: 81.2%;
      }
    }
    &.flag img { opacity: 1;top: 51px;}
    &.active  + li + .active-flag .time-1,
    &.active  + li + .active-flag .time-2,
    &.active  + li + .active-flag .time-3,
    &.active  + li + .active-flag .time-4,
    &.active  + li + .active-flag .time-5,
    &.active  + li + .active-flag .time-6,
    &.active  + li + li + .active-flag .time-1,
    &.active  + li + li + .active-flag .time-2,
    &.active  + li + li + .active-flag .time-3,
    &.active  + li + li + .active-flag .time-4,
    &.active  + li + li + .active-flag .time-5,
    &.active  + li + li + li + .active-flag .time-1,
    &.active  + li + li + li + .active-flag .time-2,
    &.active  + li + li + li + .active-flag .time-3,
    &.active  + li + li + li + .active-flag .time-4,
    &.active  + li + li + li + li + .active-flag .time-1,
    &.active  + li + li + li + li + .active-flag .time-2,
    &.active  + li + li + li + li + .active-flag .time-3,
    &.active  + li + li + li + li + li + .active-flag .time-1,
    &.active  + li + li + li + li + li + .active-flag .time-2,
    &.active  + li + li + li + li + li + li + .active-flag .time-1 {
      opacity: 1;
    }
    &.active  + li + li + .flag .time-1,
    &.active  + li + li + .flag .time-2,
    &.active  + li + li + .flag .time-3,
    &.active  + li + li + .flag .time-4,
    &.active  + li + li + .flag .time-5,
    &.active  + li + li + .flag .time-6,
    &.active  + li + li + li + .flag .time-1,
    &.active  + li + li + li + .flag .time-2,
    &.active  + li + li + li + .flag .time-3,
    &.active  + li + li + li + .flag .time-4,
    &.active  + li + li + li + .flag .time-5,
    &.active  + li + li + li + li + .flag .time-1,
    &.active  + li + li + li + li + .flag .time-2,
    &.active  + li + li + li + li + .flag .time-3,
    &.active  + li + li + li + li + .flag .time-4,
    &.active  + li + li + li + li + li + .flag .time-1,
    &.active  + li + li + li + li + li + .flag .time-2,
    &.active  + li + li + li + li + li + .flag .time-3,
    &.active  + li + li + li + li + li + li + .flag .time-1,
    &.active  + li + li + li + li + li + li + .flag .time-2,
    &.active  + li + li + li + li + li + li + li + .flag .time-1 {
      opacity: 0;
    }
  }
}
.onepage-arrow {
  display: block;
  font-size: 26px;
  margin-top: 40px;
  i {
    vertical-align: middle;
    color: @brand-primary;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
  span {
    width: 1px;
    height: 20px;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
    background-color: #3f4146;
  }
}
.onepage-pagination {
  &::after {
    content: '';
    background: url("../images/index-slide1.png") center bottom no-repeat;
    //font-size: 14px;
    //color: #fff;
    height: 144px;
    width: 25px;
    display: block;
  }
}
//index


// contacts
.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  //z-index: 10;
}
.map-adr {
  height: 520px;
  &__inner {
    margin-top: 22px;
    .text-lg;
    width: 100%;
    color: dimgrey;
    padding: 27px;
    line-height: 1.5;
    float: right;
    background-color: #fafafa;
    box-shadow: 0 0 26px rgba(57, 40, 42, 0.06);
    a {color: @brand-info}
    @media screen and (min-width: @screen-sm-min) {
      width: 437px;
    }
  }
}
.map-info {
  padding: 20px 0;
  &__item {
    color: dimgrey;
    padding-top: 27px;
    padding-bottom: 17px;
    &:not(:last-child) {border-bottom: 1px solid #f0f0f0;}
    p {.text-lg;}
    a {color: @brand-info;}
  }
}
// contacts


//.arbit-court
.arbit-court {
  &-info {
    line-height: 2.1;
    padding: 41px 0 31px;
    p {
      font-size: 14px;
      @media screen and (min-width: 1440px) {
        //.text-lg;
      }
    }
    @media screen and (min-width: 1440px) {
      padding: 82px 0;
    }
    p {
      text-indent: 30px;
    }
    .mixin-letter;
  }
  .text-img {
    margin: 33px 0;
  }
  &-more {
    margin-top: 18px;
    &__item {
      padding: 20px 27px;
      margin-bottom: 10px;
      @media screen and (min-width: @grid-float-breakpoint) {
        padding: 30px 27px;
      }
      @media screen and (min-width: 1440px) {
        padding: 30px 40px;
      }
      &.first {
        background: url("../images/arbit-more-1.jpg") no-repeat bottom right / cover, #2d2d33;
      }
      &.second {
        background: url("../images/arbit-more-2.jpg") no-repeat bottom right / cover, #2d2d33;
      }
      h4 {
        line-height: 1.5;
      }
      a {
        margin-top: 46px;
        display: block;
        color: @brand-primary;
        text-decoration: none;
        @media screen and (min-width: @grid-float-breakpoint) {
          margin-top: 80px;
        }
      }
    }
  }
  .topic {
    margin: 40px 0;
    color: dimgrey;
    font-family: 'newbaskervillecbold_italic';
  }
}
//.arbit-court

// about
.about {
  &-info {
    padding: 50px 0;
    &__title {
      line-height: 24px;
      margin-bottom: 45px;
      color: #686d74;
      @media screen and (min-width: @grid-float-breakpoint) {
        line-height: 34px;
      }
      @media screen and (min-width: 1440px) {
        line-height: 50px;
      }
      &:first-letter {
        color: @brand-primary;
        font-size: 58px;
        @media screen and (min-width: 1440px) {
          font-size: 86px;
        }
      }
    }
    h5 {
      margin-top: 0;
      font-weight: 400;
      //line-height: 2;
    }
    h4 {
      font-family: 'john_sans_text_probold';
      margin-bottom: 30px;
    }
  }
}
// about


//document
.document {
  &-info {
    padding: 58px 0;
    &__title {
      .title-sec;
      margin-top: 51px;
      margin-bottom: 31px;
    }
    .mixin-letter;
    .topic {
      .text-lg;
      padding: 13px 15px;
      margin-bottom: 10px;
      @media screen and (min-width: @grid-float-breakpoint) {
        padding: 32px 48px;
      }
      img {margin-right: 10px;vertical-align: text-top;}
      a {
        margin-top: 10px;
        display: inline-block;
        color: dimgrey;
        font-size: 16px;
        font-family: 'baskerville_10_proregular';
      }
    }
  }
}
//document


//regulations
.regulations {
  &-info {
    padding: 58px 0;
    &__title {
      .title-sec;
      margin-top: 0;
      margin-bottom: 0;
    }
    .topic {
      margin-top: 20px;
      margin-bottom: 59px;
      padding: 15px 15px;
      @media screen and (min-width: @grid-float-breakpoint) {
        padding: 33px 40px;
      }
    }
    .mixin-letter;
    img {margin-right: 10px;vertical-align: text-top;}
    &__link {
      margin-top: 10px;
      display: inline-block;
      color: dimgrey;
      font-size: 16px;
      font-family: 'baskerville_10_proregular';
    }
    &__inner {
      //margin-top: 73px;
      margin-bottom: 33px;
    }
  }
}
//input[name="search"] {
//  padding-left: 58px;
//  background: url("../images/search-ico.png") center left 14px no-repeat, @input-bg;
//}
//regulations


//construct
.construct {
  &-info {
    padding: 58px 0 70px;
    &__title {
      .title-sec;
      margin-top: 0;
      margin-bottom: 30px;
      font-family: 'newbaskervillecregular';
    }
    small {
      font-size: 14px;
      font-family: 'newbaskervilleexpodcitalic';
    }
  }
  .checkbox {
    display: block;
    margin-bottom: 33px;
    i {font-family: 'newbaskervilleexpodcitalic';}
    .topic {
      margin-top: 15px;
      margin-left: 40px;
      font-size: 16px;
    }
  }
  .form-control {
    border: none;
    font-size: 16px;
    font-family: 'john_sans_text_proregular';
    border-bottom: 1px solid @brand-primary;
    background-color: transparent;
  }
  .radio {
    display: block;
    .select2 {
      max-width: 377px;
      width: 100% !important;
      margin-top: 15px;
      margin-left: 40px;
    }
  }
  .topic {
    padding: 29px 59px 19px 29px;
    margin-bottom: 23px;
    line-height: 1.6;
    font-family: 'newbaskervillecregular';
  }
  .btn {
    font-size: 16px;
    font-family: 'john_sans_text_proregular';
    margin-bottom: 10px;
  }
}
//construct

//process
.process {
  &-info {
    padding: 58px 0;
    h6 {
      padding-top: 33px;
      font-size: 22px;
      font-family: 'john_sans_text_probold';
    }
    ul p, .decor-romb, .btn  {line-height: 2.1;}
    .decor-list::after {display: none;}
    .topic {
      margin-bottom: 46px;
      padding: 30px 30px 20px;
      p {font-family: 'newbaskervillecregular';}
    }
    .btn {max-width: 195px;width: 100%;}
  }
}
//process


//founders
.founders {
  &-info {
    padding: 28px 0;
    color: #686d74;
    h3 {
      font-size: 20px;
      font-family: 'newbaskervillecregular';
      margin-bottom: 31px;
      @media screen and (min-width: 1440px) {
        font-size: 28px;
      }
    }
    img {margin-bottom: 20px;}
    p {
      line-height: 2.1;.text-lg;
    }
    .item:not(:last-child) {
      border-bottom: 1px solid #e7e6dc;
    }
  }
}
//founders


//referees
.referees {
  &-info {
    padding: 38px 0;
  }
  &-inner {
    margin-bottom: 20px;
    h3 {
      margin-top: 0;
      font-size: 22px;
      font-family: 'newbaskervillecbold';
    }
    i {
      color: dimgrey;
      font-family: 'newbaskervilleexpodcitalic';
    }
  }
  h2 {
    font-weight: 400;
    font-size: 28px;
    margin-top: 28px;
    margin-bottom: 10px;
    font-family: 'baskerville_10_proregular';
  }
  .topic {
    padding: 15px 15px;
    margin-bottom: 9px;
    display: block;
    text-decoration: none;
    .text-sm, h6 {color: #000}
    &:hover {
      h6 {color: @brand-primary}
    }
    @media screen and (min-width: @grid-float-breakpoint) {
      padding:  33px 41px 19px 41px
    }
  }
  h6 a {
    color: #000;
    border-bottom: 1px solid @brand-primary;
    &:hover {
      border-color: transparent;
      text-decoration: none;
    }
  }
}
//referees


//calendar
.calendar {
  &-info {
    padding: 38px 0;
    h5 {
      font-weight: 400;
      margin-top: 0;
    }
  }
  &-block {
    margin-top: 44px;
  }
}
.slide-calendar {
  margin-top: 40px;
}
//calendar


//calc
.calc {
  &-info {
    padding: 38px 0;
    hr {
      border: none;
      border-bottom: 1px solid #f0f0f0;
      &.double {
        border-color: @brand-primary;
      }
    }
    .input-group-addon {
      padding: 6px 10px;
    }
    i {font-family: 'als_rublregular';}
    &__title {
      .title-sec;
      margin-bottom: 11px;
      &.last {margin-top: 6px;}
    }
    .col-lg-6 {padding: 0;}
    &__num {
      max-width: 320px;
      .form-control {
        text-align: center;
        background-color: transparent;
        border: none;
        width: 30px;
        padding: 0;
      }
    }
    .btn-sm {
      padding: 10px 16px;
    }
    &__summ {
      font-size: 18px;
      line-height: 50px;
    }
    &__mainsumm {
      font-size: 28px;
    }
  }
}
.collapse-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  &--plus {
    background: url("../images/collapse-close.png") center no-repeat;
    &:hover {
      background: url("../images/collapse-close-h.png") center no-repeat;
    }
  }
  &--minus {
    background: url("../images/collapse-open.png") center no-repeat;
    &:hover {
      background: url("../images/collapse-open-h.png") center no-repeat;
    }
  }
}
//calc


//news
.news {
  &-info {
    padding: 28px 0;
    &__item {
      margin-bottom: 30px;
    }
    &__date {
      .text-sm;
      display: block;
      margin-top: 6px;
      text-transform: uppercase;
      color: @brand-primary;
    }
    &__title {
      margin-bottom: 11px;
      font-family: 'newbaskervillecbold';
    }
    &__link {
      color: dimgrey;
      display: block;
      margin-bottom: 11px;
    }
    &__soc {
      color: dimgrey;
      margin-bottom: 17px;
      display: block;
    }
  }
}
//news


//404
.page404 {
  position: relative;
  background: url("../images/404bak.png") no-repeat center bottom 0 / contain;
  height: 100%;
  //display: table;
}
.logo404 {
  padding-top: 20px;
  text-align: center;
  padding-left: 20px;
}
.title404 {
  text-align: center;
  h1 {
    display: inline-block;
    color: dimgrey;
    font-size: 32px;
    //text-align: left;
    line-height: 1.1;
    font-family: 'newbaskervilleexpodcitalic';
    span {font-size: 46px;
      display: block;}
    .btn {
      line-height: 2.3;
      margin-top: 10px;
      font-family: 'john_sans_text_probold';
    }
  }
}
.img404 {
  text-align: center;
  //position: absolute;
  //bottom: 0;
}
//404

// plugins
.gm-style .place-card, .gm-style .default-card, .gm-style .directions-card {
  display: none;
}
.igm .place-card.place-card-large,
.igm .place-card-medium,
.igm .place-card {
  display: none;
}
.modal-full {
  .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .close {
    top: 21px;
    right: 21px;
  }
  h1 {
    color: @brand-primary;
    font-size: 27px;
    margin: 0;
  }
  .form-group {
    margin-bottom: 40px;
  }
  label {
    text-transform: uppercase;
    font-size: 16px;
    color: #4f585d;
  }
  .form-control {
    color: #fff;
    font-size: 20px;
    background-color: transparent;
    border-color: @brand-primary;
    font-family: 'baskerville_10_proregular';
  }
  a {color: #cfd0d0;}
  h5 {
    font-weight: 400;
  }
  h4 {
    color: @brand-primary;
    margin-bottom: 30px;
  }
  .modal-body {
    margin-top: 40px;
  }
  .decor-romb {
    font-size: 16px;
    font-family: 'baskerville_10_proregular';
    > li {
      margin-top: 10px;
    }
  }
  hr {
    border: none;
    border-bottom: 1px solid #444f54;
  }
}
.slide-calendar {
  max-width: 331px;
  .carousel-inner {
    padding: 0;
    text-align: center;
  }
}
// plugins

.btn-ico {
  padding-left: 50px;
  &.btn-info {
    background: url("../images/doc-file-format.png") center left 20px no-repeat, #fafafa;
    &:focus,
    &:active,
    &:hover {
      color: @brand-info;
      text-decoration: underline;
    }
  }
  &.btn-success {
    background: url("../images/pdf-file-format.png") center left 20px no-repeat, #fafafa;
    &:focus,
    &:active,
    &:hover {
      color: @brand-success;
      text-decoration: underline;
    }
  }
  &.btn-default {
    background: url("../images/printer-format.png") center left 20px no-repeat, #fafafa;
    &:focus,
    &:active,
    &:hover {
      color: #7b7b7b;
      text-decoration: underline;
    }
  }
}

/* Fade in animation - Slide 1 */


.viewing-page-1 .moveToLeft {
  -webkit-transform: translate3d(0, 0, 0) ;
  -moz-transform: translate3d(0, 0, 0) ;
  transform: translate3d(0, 0, 0) ;
}
.viewing-page-2 .moveToLeft,
.viewing-page-3 .moveToLeft {
  -webkit-transform:translate3d(-100%, 0, 0);
  -moz-transform:translate3d(-100%, 0, 0);
  transform:translate3d(-100%, 0, 0);
}

.viewing-page-1 .moveToRight {
  -webkit-transform: translate3d(-100%, 0, 0) ;
  -moz-transform: translate3d(-100%, 0, 0) ;
  transform: translate3d(-100%, 0, 0) ;
}
.viewing-page-2 .moveToRight {
  -webkit-transform: translate3d(0, 0, 0) ;
  -moz-transform: translate3d(0, 0, 0) ;
  transform: translate3d(0, 0, 0) ;
}
.viewing-page-3 .moveToRight {
  -webkit-transform:translate3d(100%, 0, 0);
  -moz-transform:translate3d(100%, 0, 0);
  transform:translate3d(100%, 0, 0);
}
.viewing-page-1 .moveToUp,
.viewing-page-2 .moveToUp {
  -webkit-transform: translate3d(0, 100%, 0) ;
  -moz-transform: translate3d(0, 100%, 0) ;
  transform: translate3d(0, 100%, 0) ;
}
.viewing-page-3 .moveToUp {
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

.viewing-page-1 .moveToDown,
.viewing-page-3 .moveToDown {
  -webkit-transform: translate3d(0, -100%, 0) ;
  -moz-transform: translate3d(0, -100%, 0) ;
  transform: translate3d(0, -100%, 0) ;
}
.viewing-page-2 .moveToDown {
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}
