<!--header-->
<header>
  <div class="visible-xs visible-sm header-mobile">
    <div class="row">
      <div class="col-xs-5">
        <div class="header-mobile__item">
          <button type="button" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="header-mobile__item">
          <a class="mobile" href="#"><img src="images/logo-mobile.png" alt=""></a>
        </div>
      </div>
      <div class="col-xs-7 text-right">
        <div class="header-mobile__item">
          <a href="#" class="btn btn-long">
            Астра
          </a>
        </div>
        <div class="header-mobile__item">
          <a href="#" class="btn">
            <img src="images/nav__item-2.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-nav sidebar-nav__main sidebar-navbar-collapse">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <form class="navbar-form" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <!--<button type="submit" class="btn"><img src="images/ico-search.png" alt=""></button>-->
          <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
        </form>
        <div class="logo">
          <a class="navbar-brand desc" href="#"><img src="images/logo.png" alt=""></a>
          <a class="navbar-brand mobile" href="#"><img src="images/logo-mobile.png" alt=""></a>
        </div>
      </div>
      <div class="">
        <ul class="nav navbar-nav main-nav">
          <li class="active"><a href="#">третейский суд</a></li>
          <li><a href="#"> О нас</a></li>
          <li><a href="#"> документация</a></li>
          <li><a href="#"> Контакты</a></li>
        </ul>
        <ul class="nav navbar-nav sec-nav">
          <li><a href="#"><img src="images/ico-menu-1.png" alt=""><span>Подать иск</span></a></li>
          <li><a href="#"><img src="images/ico-menu-2.png" alt=""><span>Арбитры</span></a></li>
          <li><a href="#"><img src="images/ico-menu-3.png" alt=""><span>Регламент</span></a></li>
          <li><a href="#"><img src="images/ico-menu-4.png" alt=""><span>Конструктор третейской оговорки</span></a></li>
          <li><a href="#"><img src="images/ico-menu-5.png" alt=""><span>Арбитраж онлайн</span></a></li>
        </ul>
      </div>
      <div class="info-nav">
        <p><a href="#" class="info-nav__sitemap text-sm text-uppercase">карта сайта</a></p>
        <p><a href="#" class="info-nav__phone text-lg primary"><b>+7 (499) 234-55-67</b></a></p>
        <p><a href="#" class="info-nav__modal text-uppercase">Заказать звонок</a></p>
      </div>
    </nav>
  </div>
  <div class="sidebar-nav sidebar-nav__sub  sidebar-navbar-collapse">
    <nav class="navbar" role="navigation">
      <div class="">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Контакты </a></li>
          <li><a href="#">Реквизиты</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!--header-->
